@import "https://www.nerdfonts.com/assets/css/webfont.css"; 

body {
    background-color: black;
    text-align: center;
 }

 .navbar {
    height: 60px;
}

 .navlist a{
    float: left;
    margin: 4px;
    padding: 4px;

    font-size: 20px;
    font-family: monospace;
 }

 .navlist a:hover {
    transform: scale(1.1);
}

#link-1 {
    transition: transform 0.5s;
     color: #0bfc03;
  }

  #inf1 {
    font-size: 25px;
    text-align: center;
    margin-top: 140px;
    color: #0bfc03;
    font-family: monospace;
 /*   margin-left: 40px;*/
  }

 .wrapper {
    display: grid;
    place-items: center;
  }
  
  .typing {
    color: #0bfc03;
    width: 10ch;
    animation: typing 1.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
    font-size: 80px;
    margin-bottom: 20px;
  }

  .icons {
    color: white;
    font-size: 50px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .install {
    color: white;
    font-size: 50px;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 2px;
    margin: 10px;


    border: 2px solid #0bfc03;
    padding: 5px 12px;
    text-align: center;
    display: inline-block;
    text-decoration:none;

    font-family: monospace;

    transition: transform 1s;
 }

 .install:hover {
    transform: scale(1.1);
 }